.text-purple {
  color: #6f42c1; 
}

.text-orange {
  color: #fd7e14; 
}

.bg-purple {
  background-color: #6f42c1 !important;
  color: #fff;
}

.bg-orange {
  background-color: #fd7e14 !important;
  color: #fff;
}
