 <div class="d-lg-none my-3">
        <button class="btn w-100 save-btn" 
        data-bs-toggle="offcanvas" data-bs-target="#profileMenu" aria-controls="profileMenu"
        type="button" >
            <i class="fas fa-bars"></i> Menu
        </button>
    </div>
<div 
class="offcanvas-lg offcanvas-start" tabindex="-1" id="profileMenu" style="z-index: 1111;"
>
    <div class="offcanvas-header d-md-none">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body w-100">
<div class="profile-card shadow w-100">
    <div class="position-relative">
        <img [src]="img" class="profile-pic" alt="Profile">
        <a href="#" class="position-absolute top-0 end-0"><i class="fas fa-edit"></i></a>
    </div>
    <h5 >{{ FullName }}</h5>
    <p class="text-muted">{{ Email }}</p>
    <hr>
    <div class="d-flex flex-column">
      @for (link of links; track $index) {
          <a  routerLink="{{ link.route }}"
           routerLinkActive="active" class="menu-item mb-1"><i class="{{ link.icon }}"></i> {{ link.label }}</a>
      }
        <!-- <a href="#" class="menu-item active mb-1"><i class="fas fa-user"></i> My Profile</a>
        <a href="#" class="menu-item"><i class="fas fa-ticket-alt"></i> My Bookings</a>
        <a href="#" class="menu-item"><i class="fas fa-users"></i> Travelers</a>
        <a href="#" class="menu-item"><i class="fas fa-credit-card"></i> Payment Details</a>
        <a href="#" class="menu-item"><i class="fas fa-heart"></i> Wishlist</a>
        <a href="#" class="menu-item"><i class="fas fa-cog"></i> Settings</a>
        <a href="#" class="menu-item "><i class="fas fa-trash"></i> Delete Profile</a>
      -->
    </div>
      <a (click)="logout()" class="menu-item sign-out text-danger" style="cursor:pointer"><i class="fas fa-sign-out-alt"></i> Sign Out</a> 
</div>
</div>
</div>