<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" >
    </a>
    
    <button class="navbar-toggler" type="button"
     data-bs-toggle="collapse" 
    data-bs-target="#navbarSupportedContent" 
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" 
          id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Listings
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/agancy/client/Packages">Pachages</a></li>
            <li><a class="dropdown-item" >hotel</a></li>
            <li><a class="dropdown-item" >hotel</a></li>
            <li><a class="dropdown-item" >hotel</a></li>
            <li><a class="dropdown-item" >hotel</a></li>
            
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" 
          id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Pages
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" >hotel</a></li>
            <li><a class="dropdown-item" >hotel</a></li>
            <li><a class="dropdown-item" >hotel</a></li>
            <li><a class="dropdown-item" >hotel</a></li>
            <li><a class="dropdown-item" >hotel</a></li>
            
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" 
          id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Accounts
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/accoutProfile">User Profile</a></li>
            <li><a class="dropdown-item" >hotel</a></li>
            <li><a class="dropdown-item" >hotel</a></li>
            <li><a class="dropdown-item" >hotel</a></li>
            <li><a class="dropdown-item" >hotel</a></li>
            
          </ul>
        </li>
       
      </ul>
     
         <div class="d-flex gap-2">
           @if (!isLoggedIn;) {
       <div class="d-flex gap-2">
         <button class="btn account" type="submit" routerLink="/login">Login</button>
        <button class="btn account" type="submit" routerLink="/register">Register</button>
       </div>
         }
      @else {
         <img 
      src="https://t3.ftcdn.net/jpg/03/46/83/96/240_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg"
      alt="User Profile" 
      class="rounded-circle" 
      width="35" 
      height="35"
      style="object-fit: cover; cursor: pointer;"
    
    />
     }
     @if(isInAgancyClient()){
   <button class="toggleNotifications btn position-relative p-1 m-0" (click)="toggleNotifications()">🔔
         <span *ngIf="notifications.length > 0" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
          style="font-size: 10px;"
          >
        {{ notifications.length }}
      </span>
       </button>
       <div class="notification-dropdown" *ngIf="isNotificationOpen">
        @if (notifications.length > 0) {
            <ul class="list-group">
      <li *ngFor="let notification of notifications; let i = index" class="list-group-item d-flex justify-content-between align-items-center">
       
  <span (click)="markAsRead(notification.Id)">
     {{ notification.Message }}
  </span>
<button class ="btn account" style="font-size:13px" 
 [routerLink]="['/agancy/client/ReviewPackage', getBookingId(notification.Message)]"
>
  Review now 
</button>
      </li>
    </ul>
        }
        @else {
          <div class="text-center p-2">🚫 There Is no Notification   </div>
        }
  
  </div>
     }
    
 
      </div>
     
  
    </div>
  </div>
</nav>