.icon-xl {
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 1.9rem;
    background-color: rgb(23 162 184);


}
h4{
    font-size: 1.75rem;
    font-weight: 700;
}
span{
color:#4d4d5991;
}