 <div class="row g-4">
   <div class="col-md-12 col-lg-6">
<div class="card card-body border">
					<div class="d-flex align-items-center">
						<!-- Icon -->
						<div class="icon-xl rounded-3 text-white">
							<i class="bi bi-graph-up-arrow"></i>
						</div>
						<!-- Content -->
						<div class="ms-3">
							<h4>$ {{totalEarnings}}</h4>
							<span>Earning</span>
						</div>
					</div>
				</div>
				  </div>
				  <div class="col-md-12 col-lg-6">
					<div class="card card-body border">
					<div class="d-flex align-items-center">
						<!-- Icon -->
						<div class="icon-xl rounded-3 text-white" style ="background-color: rgb(81 67 217) !important;">
							<i class="bi bi-star"></i>
						</div>
						<!-- Content -->
						<div class="ms-3">
							<h4>$ {{totalReviews}}</h4>
							<span>TotalReviews</span>
						</div>
					</div>
				</div>
				  </div>
  <div class="col-md-12 col-lg-6">
<div class="card card-body border">
					<div class="d-flex align-items-center">
						<!-- Icon -->
						<div class="icon-xl bg-warning rounded-3 text-white">
							<i class="bi bi-star-fill"></i>
						</div>
						<!-- Content -->
						<div class="ms-3">
							<h4>$ {{averageRating}}</h4>
							<span> AverageRating</span>
						</div>
					</div>
				</div>
				</div>
 
 </div>
