<h2>Complete Your Agency Profile</h2>
<form [formGroup]="agencyForm" (ngSubmit)="submit()">

  <input formControlName="BusinessName" placeholder="Business Name" />
  <input formControlName="Description" placeholder="Description" />
  <input formControlName="ContactInfo" placeholder="Contact Info" />
  <input formControlName="BusinessCategory" placeholder="Business Category" />
  <input formControlName="Address" placeholder="Address" />
  <input formControlName="City" placeholder="City" />
  <input formControlName="BuildingNo" type="number" placeholder="Building No" />
  <input formControlName="Street" placeholder="Street" />
  <div formArrayName="VerificationDocument">
    <div [formGroupName]="0">
      <input formControlName="DocumentType" placeholder="Document Type" />
      <input formControlName="DocumentFile" placeholder="Document File" />
    </div>
  </div>
 

  <button type="submit">Submit Agency</button>
</form>
